.nav-word {
  font-family: Montserrat, sans-serif;
  color: #989898;
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-word:visited {
  color: #000;
}

.image-6 {
  padding: 9px 0px 0px;
}

.container {
  max-width: 1280px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
}

.navbar {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.navbar:hover {
  color: #000;
}

.p-hp-wrapper {
  height: 100vh;
}

.container-left {
  max-width: 1100px;
}

.heading-1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  font-size: 66px;
  line-height: 80px;
}

.heading-3 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #989898;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 6px;
}

.heading-3.black {
  margin-bottom: 0px;
  color: #000;
}

.heading-3.mid {
  text-align: center;
}

.heading-2 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 38px;
}

.body-text-s {
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #989898;
  font-size: 10px;
}

.body-text-s.space {
  margin-left: 40px;
}

.div-cover {
  position: relative;
  bottom: -250px;
  max-width: 740px;
  padding-left: 40px;
}

.gif-wrapper {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}

.gif-wrapper-div {
  max-width: 1130px;
}

.gif-wrapper-div-column {
  display: block;
  width: 50%;
  padding-right: 20px;
  padding-left: 40px;
  justify-content: center;
  align-items: flex-start;
  flex: 0 auto;
}

.gif-wrapper-div-column.round {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #898989;
}

.gif-wrapper-div-column.no-spacing {
  padding-left: 0px;
}

.gif-wrapper-div-column.pic {
  display: flex;
  width: 100%;
  height: 516px;
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  background-image: url('../images/资源-214x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container-middle-duiqi {
  display: flex;
  max-width: 1100px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: stretch;
}

.container-middle-duiqi.all-words {
  justify-content: space-between;
  background-color: #000;
}

.container-middle-duiqi.all-pic {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-middle-duiqi.big-space {
  margin-top: 60px;
  padding-top: 0px;
}

._2column-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

._2column-wrapper.big-space {
  margin-top: 60px;
}

._2column-wrapper.grey {
  background-color: #f4f4f4;
}

.horizontal-line {
  width: 30px;
  min-height: 1px;
  min-width: auto;
  border: 1px solid #fc0e11;
  color: #3370ac;
}

.horizontal-line.green {
  border-color: #46b3b8;
  color: #46b3b8;
}

.gif-wrapper-container {
  max-width: 1130px;
}

.image-7 {
  max-width: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gif-wrapper-c-d {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}

.text-01 {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 48px;
  font-weight: 400;
  text-align: left;
}

.text-01.mid-white {
  display: flex;
  padding-top: 0px;
  color: #fff;
  text-align: center;
}

.text-01.mid-white.midd {
  padding-top: 250px;
}

.text-01.mid-white.midd.space {
  padding-top: 181px;
}

.text-01.mid-white.space {
  padding-top: 60px;
}

.text-01.mid-black {
  text-align: center;
}

.text-01.mid-black.space {
  padding-right: 20px;
  padding-left: 20px;
}

.text-01.mid {
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-01.mid.midagain {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-01.juzhong {
  display: block;
  padding-top: 140px;
  padding-right: 50px;
  padding-left: 0px;
  text-align: center;
}

.text-02 {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  line-height: 33px;
  text-align: left;
  text-decoration: none;
}

.text-02.white {
  color: #fff;
  text-decoration: none;
}

.text-02.white.reflections {
  margin-bottom: 40px;
  padding-top: 17px;
  text-decoration: underline;
}

.text-02.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-02.juzhong {
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
}

.text-02.space {
  padding-top: 40px;
}

.text-02.top-gap {
  margin-top: 40px;
}

.div-block {
  margin-bottom: 40px;
}

.div-block-2 {
  margin-bottom: 40px;
}

._3column-wrapper {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  background-color: #000;
}

.div-block-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-span {
  text-decoration: underline;
}

.div- {
  padding-top: 8px;
  padding-bottom: 8px;
}

.slider {
  height: 490px;
  margin-top: 0px;
  background-color: #f6f6f6;
}

.icon {
  display: block;
  overflow: hidden;
  color: #cdcdcd;
}

.icon-2 {
  display: block;
  overflow: hidden;
  color: #cdcdcd;
}

.image-8 {
  -o-object-fit: fill;
  object-fit: fill;
}

.image-9 {
  padding-top: 96px;
}

.image-10 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}

.slide {
  position: static;
}

.mask {
  background-color: #f4f4f4;
}

.image-11 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
}

.image-12 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}

.image-13 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
}

.image-14 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
}

.bold-text {
  color: #fc0e11;
}

.bold-text.green {
  color: #46b3b8;
}

.text-span-2 {
  color: #fc0e11;
}

.div-block-4 {
  margin-bottom: 40px;
}

.div-block-4.pic {
  background-image: url('../images/资源-224x.png');
  background-position: 50% 50%;
  background-size: auto;
}

.div-block-5 {
  margin-bottom: 40px;
}

.text-span-3 {
  text-decoration: underline;
}

.text-span-4 {
  text-decoration: underline;
}

.text-span-5 {
  font-size: 24px;
}

.text-span-6 {
  font-size: 24px;
}

.text-span-7 {
  font-size: 24px;
}

.text-span-8 {
  font-size: 24px;
}

.container-2pic {
  display: flex;
  max-width: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.div-2pic {
  width: 50%;
}

.div-2pic.big {
  width: 70%;
}

.div-block-6 {
  padding-right: 25px;
  padding-left: 40px;
}

.image-16 {
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-2 {
  height: 250px;
}

.slide-2 {
  padding-bottom: 0px;
  background-image: url('../images/资源-334x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-17 {
  padding-top: 0px;
}

.slide-3 {
  background-image: url('../images/截屏2022-09-14-下午10.10.38.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/截屏2022-09-14-下午10.10.47.png');
  background-position: 0px 0px;
  background-size: cover;
}

.text-block-in-pic {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 140px;
  padding-bottom: 140px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.text-block-in-pic._1 {
  padding-top: 235px;
  padding-bottom: 235px;
}

.text-block-in-pic._01 {
  padding-top: 163px;
  padding-bottom: 163px;
  line-height: 40px;
}

.text-block-in-pic._02 {
  padding-top: 224px;
  padding-bottom: 224px;
  line-height: 39px;
}

.text-block-in-pic._03 {
  padding-top: 205px;
  padding-bottom: 205px;
  line-height: 40px;
}

.text-block-in-pic._2pic-big {
  width: 100%;
  height: 516px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text-block-in-pic._350 {
  height: 46vh;
  line-height: 40px;
}

.text-block-in-pic._400 {
  height: 400px;
}

.text-block-in-pic.eye.spa {
  padding-top: 114px;
  padding-bottom: 114px;
  background-image: none;
}

.div-block-7 {
  font-size: 1px;
}

.slide-nav {
  font-size: 10px;
}

.mask-2 {
  background-color: #f4f4f4;
}

.mask-2.big {
  background-color: #fff;
}

.mask-3 {
  background-color: #f4f4f4;
}

.left-arrow {
  display: none;
  overflow: visible;
}

.left-arrow.appear {
  display: block;
}

.right-arrow {
  display: none;
}

.right-arrow.appear {
  display: flex;
  align-items: center;
}

.slide-nav-2 {
  display: none;
}

.slide-nav-2.appear {
  display: block;
}

.slide-5 {
  background-image: url('../images/资源-324x.png');
  background-position: 50% 50%;
  background-size: 422px;
  background-repeat: no-repeat;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.slide-5._01 {
  background-image: url('../images/资源-284x.png');
  background-position: 50% 50%;
  background-size: 400px;
}

.slide-5.satics {
  background-image: url('../images/资源-204x.png');
  background-position: 50% 50%;
  background-size: 400px;
}

.slide-5.satics.big {
  background-size: 500px;
}

.slide-5.satic {
  background-image: url('../images/think-aloud.png');
  background-position: 50% 50%;
  background-size: 480px;
}

.slider-3 {
  height: 480px;
}

.text-block {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 233px;
  padding-bottom: 233px;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

._2pic-word-appear {
  display: flex;
  padding-top: 233px;
  padding-bottom: 233px;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.slide-6 {
  background-image: url('../images/资源-194x.png');
  background-position: 50% 50%;
  background-size: 400px;
  background-repeat: no-repeat;
}

.slide-8 {
  background-image: url('../images/资源-214x.png');
  background-position: 50% 50%;
  background-size: 420px;
  background-repeat: no-repeat;
}

.left-arrow-2 {
  overflow: visible;
}

.div-block-8 {
  width: 50vh;
}

.slide-9 {
  background-image: url('../images/资源-304x.png');
  background-position: 50% 50%;
  background-size: 400px;
  background-repeat: no-repeat;
}

.slide-10 {
  background-image: url('../images/资源-334x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-11 {
  background-image: url('../images/资源-344x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.left-arrow-3 {
  display: block;
}

.slide-12 {
  background-image: url('../images/资源-364x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-13 {
  background-image: url('../images/资源-354x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.heading-4 {
  padding-left: 40px;
}

.right-paragraph {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 106px;
  padding-right: 40px;
}

.paragraph {
  width: 500px;
  padding-right: 40px;
}

.text-span-9 {
  text-decoration: underline;
}

.image-18 {
  width: 50%;
}

.full-pic {
  max-width: 1100px;
}

.image-19 {
  position: relative;
  top: 1px;
  max-width: 492px;
  flex: 0 auto;
}

.div-block-9 {
  display: flex;
  margin-left: -160px;
  order: 0;
  flex: 1;
}

.image-20 {
  position: relative;
  right: -46px;
  display: block;
  max-width: 1100px;
  margin-left: 211px;
  padding-left: 0px;
}

.image-21 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 1;
  mix-blend-mode: normal;
}

.div-block-10 {
  display: block;
  -ms-grid-row-align: auto;
  align-self: auto;
  flex: 0 auto;
}

.image-22 {
  position: static;
  display: block;
  overflow: visible;
  max-width: 90%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 2px 2px 15px 6px #e0e0e0;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block-11 {
  order: 0;
}

.div-block-12 {
  flex: 0 0 auto;
}

.container-2 {
  max-width: 100%;
}

.columns {
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 40px;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #d7d7d7;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #000;
}

.image-23 {
  width: 415px;
  margin-top: 60px;
  margin-bottom: 49px;
  padding-left: 0px;
}

.image-24 {
  width: 169px;
}

.div-block-13 {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.grey-fiv {
  width: 50%;
  height: 70vh;
  margin-top: 40px;
  align-self: flex-start;
  order: 0;
  flex: 0 auto;
  background-color: #dbe2e6;
}

.grey-fiv.black {
  height: 70vh;
  background-color: #000;
}

.image-25 {
  position: static;
  left: 40px;
  top: 132px;
  max-width: none;
  margin: 119px auto 119px 40px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-26 {
  position: static;
  left: 186px;
  top: 119px;
  margin: 121px 173px;
}

.container-3 {
  display: flex;
  max-width: 100%;
  margin-top: 40px;
  justify-content: center;
  align-items: stretch;
}

.columns-2 {
  margin-right: 0px;
  margin-left: 0px;
}

.pic-left {
  width: 50%;
  height: 600px;
  background-color: #e4e7ed;
}

.pic-left.black {
  display: block;
  background-color: #000;
}

.pic-left.full {
  width: 100%;
}

.image-27 {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 160px;
  padding-bottom: 160px;
}

.image-28 {
  display: block;
  width: 180px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 127px;
  padding-bottom: 127px;
}

.image-29 {
  width: 430px;
  height: 350px;
}

.div-block-14 {
  width: 385px;
  margin-right: 40px;
  background-color: #f4f4f4;
  background-image: url('../images/截屏2022-09-27-下午7.12.09.png');
  background-position: 50% 50%;
  background-size: 302px;
  background-repeat: no-repeat;
}

.div-block-15 {
  width: 800px;
  height: 46vh;
  margin-left: 40px;
  padding-left: 0px;
  background-color: #f4f4f4;
  background-image: url('../images/截屏2022-09-27-下午6.51.28.png');
  background-position: 50% 50%;
  background-size: 560px;
  background-repeat: no-repeat;
}

.image-30 {
  position: static;
  padding: 60px 20px;
}

.div-block-16 {
  background-image: url('../images/资源-382x-100.jpg');
  background-position: 50% 50%;
  background-size: 400px;
  background-repeat: no-repeat;
}

.div-block-16._500 {
  width: 70%;
  height: 400px;
  margin-left: 40px;
  background-color: #f4f4f4;
  background-image: url('../images/截屏2022-09-27-下午6.51.28.png');
  background-position: 50% 50%;
  background-size: 600px;
  background-repeat: no-repeat;
}

.div-block-17 {
  width: 30%;
  height: 400px;
  margin-right: 40px;
  background-image: url('../images/截屏2022-09-27-下午7.12.09.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-18 {
  width: 40%;
  height: 684px;
  margin-left: 40px;
  background-image: url('../images/资源-382x-100.jpg');
  background-position: 50% 50%;
  background-size: 400px;
  background-repeat: no-repeat;
}

.div-block-18.shop {
  width: 45%;
  margin-top: -50px;
  margin-right: 40px;
  margin-left: 0px;
  padding-top: 0px;
  background-image: url('../images/资源-392x-100.jpg');
  background-size: 366px;
}

.div-block-18.detail {
  margin-top: -67px;
  background-image: url('../images/资源-402x-100.jpg');
  background-size: 366px;
}

.div-block-18.detail.check-out {
  height: 530px;
  margin-top: -80px;
  padding-top: 0px;
  background-image: url('../images/资源-422x-100.jpg');
}

.div-block-18.size {
  margin-top: -80px;
  margin-right: 40px;
  margin-left: 0px;
  background-image: url('../images/资源-412x-100.jpg');
}

.div-block-19 {
  position: static;
  width: 60%;
  margin-right: 40px;
  padding-top: 56px;
}

.div-block-19.left-word {
  padding-top: 10px;
}

.div-block-19.left-word.space {
  padding-top: 143px;
}

.div-block-19.space {
  margin-top: -50px;
  padding-top: 0px;
}

.text-span-10 {
  font-size: 50px;
}

.bold-text-2 {
  font-size: 60px;
}

.bold-text-3 {
  color: #9fc31d;
  font-size: 60px;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 30px;
}

.text-block-4 {
  margin-left: 150px;
}

.bold-text-4 {
  color: #4851a1;
  font-size: 60px;
}

.bold-text-5 {
  color: #f5b617;
  font-size: 60px;
}

.bold-text-6 {
  color: #c6171e;
  font-size: 60px;
}

.bold-text-7 {
  color: #53bfc5;
  font-size: 60px;
}

.bold-text-8 {
  color: #c6171e;
  font-size: 60px;
}

.bold-text-9 {
  color: #53bfc5;
  font-size: 60px;
}

.text-block-5 {
  margin-left: 100px;
  font-family: Montserrat, sans-serif;
  color: #333;
  line-height: 33px;
}

.text-block-5.space {
  padding-top: 72px;
}

.text-span-11 {
  font-size: 60px;
}

.bold-text-10 {
  color: #f5b617;
}

.subscript {
  color: #f5b617;
  font-size: 80px;
  text-align: left;
  text-decoration: none;
}

.subscript.green {
  color: #9fc31d;
}

.subscript.red {
  color: #c6171e;
}

.subscript.blue {
  color: #53bfc5;
}

.bold-text-11 {
  color: #9fc31d;
}

.bold-text-11.red {
  color: #c6171e;
}

.subscript-2 {
  color: #9fc31d;
  font-size: 80px;
}

.subscript-2.blue {
  color: #4851a1;
}

.subscript-2.black {
  color: #000;
}

.bold-text-12 {
  color: #f5b617;
  font-size: 80px;
}

.bold-text-13 {
  color: #9fc31d;
}

.bold-text-13.yellow {
  color: #f5b617;
}

.bold-text-13.blue {
  color: #53bfc5;
}

.bold-text-14 {
  color: #000;
}

.bold-text-14.blue {
  color: #4851a1;
}

.section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.div-block-20 {
  width: 30%;
  height: 600px;
  margin-right: 40px;
  padding-top: 0px;
}

.div-block-20.think {
  padding-top: 61px;
}

.div-block-20.eye {
  padding-top: 200px;
  background-image: none;
}

.div-block-20.space {
  padding-top: 200px;
}

.div-block-20.heuriddtics {
  padding-top: 165px;
}

.div-block-20.psy {
  padding-top: 144px;
  background-image: none;
}

.icon-3 {
  color: #cfcfcf;
}

.icon-4 {
  color: #cfcfcf;
}

.explain-page-pic {
  height: 700px;
}

.explain-page-pictuture {
  width: 70%;
  height: 600px;
}

.mask-4 {
  background-color: #fff;
}

.sus {
  background-image: url('../images/资源-204x.png');
  background-position: 50% 50%;
  background-size: 600px;
  background-repeat: no-repeat;
}

.nps {
  background-image: url('../images/资源-194x.png');
  background-position: 50% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
}

.image-31 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.section-2 {
  height: 10vh;
}

.link-block {
  width: 100%;
  height: 480px;
}

.link-block-2 {
  width: 100%;
}

.link-to {
  width: 100%;
}

.link-block-4 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  width: 40px;
  margin-right: 40px;
  margin-left: 0px;
  padding-top: 40px;
}

.div-block-21 {
  width: 100vw;
}

.thinkaloud {
  background-image: url('../images/thinkaloud.png');
  background-position: 50% 50%;
  background-size: 550px;
  background-repeat: no-repeat;
}

.eye {
  background-image: url('../images/截屏2022-09-14-下午10.10.38.png');
  background-position: 50% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
}

.eye._2word {
  background-image: url('../images/截屏2022-09-14-下午10.10.47.png');
}

.eye._3 {
  background-image: url('../images/截屏2022-09-14-下午10.22.50.png');
}

.eye._2 {
  background-image: url('../images/截屏2022-09-14-下午10.10.47.png');
}

.heuristics {
  background-image: url('../images/资源-214x.png');
  background-position: 50% 50%;
  background-size: 600px;
  background-repeat: no-repeat;
}

.slide-15 {
  background-image: url('../images/资源-294x.png');
  background-position: 50% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
}

.wcag {
  background-image: url('../images/资源-284x.png');
  background-position: 50% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
}

.wcag._1 {
  background-image: url('../images/资源-294x.png');
}

.wcag._3 {
  background-image: url('../images/资源-304x.png');
}

.link-block-6 {
  width: 100%;
}

.wave {
  background-image: url('../images/资源-324x.png');
  background-position: 50% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
}

.psy {
  background-image: url('../images/资源-334x.png');
  background-position: 50% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
}

.psy._2pic-word-appear {
  background-image: url('../images/资源-344x.png');
}

.psy._2 {
  background-image: url('../images/资源-344x.png');
}

.psy._3 {
  background-image: url('../images/资源-354x.png');
}

.psy._4 {
  background-image: url('../images/资源-364x.png');
}

.psy._5 {
  background-image: url('../images/资源-374x.png');
}

.pagejumplink {
  display: block;
  width: 100%;
  height: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 219px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.pagejumplink.eyequant {
  height: 250px;
  padding-top: 106px;
}

.pagejumplink.heuristics {
  height: 516px;
  padding-top: 247px;
  background-image: none;
}

.pagejumplink.wcag {
  background-image: none;
}

.pagejumplink.wave {
  background-image: none;
}

.pagejumplink.psy {
  height: 300px;
  padding-top: 131px;
  background-image: none;
}

.pagejumplink._520 {
  height: 520px;
  padding-top: 200px;
}

.pagejumplink._520.space {
  padding-top: 187px;
}

.pagejumplink._690 {
  height: 570px;
  padding-top: 260px;
  padding-bottom: 260px;
}

.pagejumplink._500 {
  height: 500px;
}

.pagejumplink._500._1 {
  padding-top: 179px;
}

.view-all {
  background-image: url('../images/资源-354x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.view-all.size {
  background-image: url('../images/资源-374x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-16 {
  background-image: url('../images/资源-294x.png');
  background-position: 50% 50%;
  background-size: 400px;
  background-repeat: no-repeat;
}

.slide-17 {
  background-image: url('../images/资源-374x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

._3column-wrap.grey {
  background-color: #f4f4f4;
}

.image-32 {
  padding-right: 40px;
  padding-left: 40px;
}

.design-process {
  padding-top: 40px;
}

.design-process.no-space {
  padding-top: 0px;
}

.div-block-22 {
  width: 66%;
  height: 80px;
}

.div-block-23 {
  width: 34%;
  height: 80px;
}

.container-4 {
  display: flex;
  max-width: 1100px;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}

._3-co-word {
  width: 33%;
  height: 250px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 40px;
}

._3-co-word.nospace {
  padding-top: 0px;
}

._3-co-word.small-soace {
  height: 100px;
  padding-top: 0px;
}

._3-co-word.bigheight {
  height: 400px;
  padding-top: 0px;
}

.text-span-13 {
  font-size: 44px;
}

.half-pic {
  width: 50%;
  padding-right: 40px;
}

.container-5 {
  max-width: 1100px;
}

.full-pic-wrapper {
  padding-right: 40px;
  padding-left: 40px;
}

.full-pic-wrapper-slides {
  height: 520px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.full-pic-wrapper-slides-mask {
  height: 520px;
  max-width: 1100px;
}

.slide-18 {
  background-image: url('../images/WechatIMG1305.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-pic-wrapper-slide-1 {
  height: 520px;
  background-image: url('../images/WechatIMG1305_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.full-pic-right-arrow {
  height: 520px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #828282;
}

.full-pic-right-arrow._690 {
  height: 570px;
}

.full-pic-right-arrow._500 {
  height: 500px;
}

.full-pic-left-arrow {
  height: 520px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.full-pic-left-arrow._690 {
  height: 570px;
}

.full-pic-left-arrow._500 {
  height: 500px;
}

.slide-nav-3 {
  margin-right: auto;
  margin-bottom: -220px;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.full-pic-intro {
  display: block;
  height: 520px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 160px;
  padding-bottom: 200px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.text-span-14 {
  font-size: 18px;
}

.text-span-15 {
  font-size: 18px;
}

.full-pic-wrapper-slides-mask-copy {
  height: 520px;
  max-width: 1100px;
  background-color: #fff;
}

.full-pic-wrapper-slides-mask-copy.grey {
  background-color: #f4f4f4;
}

.full-pic-wrapper-slide2 {
  background-image: url('../images/资源-142x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-pic-wrapper-slide3 {
  background-image: url('../images/资源-182x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

._2co-word {
  display: block;
  width: 50%;
  padding-top: 20px;
  padding-left: 40px;
}

.icon-5 {
  color: #828282;
}

.icon-5.light {
  color: #b3b3b3;
}

.slide-nav-4 {
  color: #c4bbbb;
}

.bold-text-15 {
  font-size: 40px;
}

.icon-6.light {
  color: #b3b3b3;
}

.full-pic-wrapper-slide4 {
  background-image: url('../images/资源-162x.png');
  background-position: 0% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-pic-wrapper-slide5 {
  background-image: url('../images/截屏2022-10-04-下午8.53.34.png');
  background-position: 0% 0%;
  background-size: 1050px;
  background-repeat: no-repeat;
}

.full-pic-wrapper-slide6 {
  background-image: url('../images/IMG_4570.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.full-pic-wrapper-slide7 {
  background-image: url('../images/资源-192x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.fullline-word {
  max-width: 1100px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

._100vw-container {
  height: 60vh;
  max-height: none;
  max-width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000;
}

._100vw-container.backgroun {
  height: 70vh;
  background-color: transparent;
  background-image: url('../images/36.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.fullbigword {
  overflow: visible;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

.fullbigword.black {
  color: #000;
}

.fullbigword.space {
  padding-top: 40px;
  padding-bottom: 80px;
}

.text-span-16 {
  text-decoration: underline;
}

.text-span-17 {
  text-decoration: underline;
}

.text-span-18 {
  text-decoration: underline;
}

.text-span-19 {
  text-decoration: underline;
}

._1column-wrapper {
  height: auto;
  background-color: hsla(0, 0%, 95.7%, 0);
}

._1column-wrapper.grey {
  background-color: #f4f4f4;
}

.title {
  padding-top: 40px;
  padding-bottom: 40px;
}

.full-bg {
  height: 600px;
  padding-top: 200px;
  background-image: url('../images/资源-4-100.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.full-bg.nobg {
  width: 33%;
  padding-top: 100px;
  background-image: none;
}

.full-bg.opportunity-sta {
  padding-top: 100px;
  background-image: url('../images/Group-1390.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.text-span-20 {
  text-decoration: underline;
}

.text-span-21 {
  text-decoration: underline;
}

.text-span-22 {
  text-decoration: underline;
}

.text-span-23 {
  text-decoration: underline;
}

.fullline-inside-1line {
  display: flex;
  height: auto;
  max-width: 1100px;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fullsmallword {
  padding-top: 20px;
  padding-bottom: 20px;
}

.full-pic-wrapper-slide8 {
  background-image: url('../images/截屏2022-10-05-下午5.57.35.png');
  background-position: 34% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.fullpage-title {
  display: block;
  width: 100vw;
  max-width: 1100px;
  margin: 100px auto 40px;
  justify-content: center;
  align-items: center;
}

.fullpage-title.nospacing {
  margin-top: 0px;
  margin-bottom: 0px;
}

.fullpage-title.small-space {
  margin-top: 20px;
}

.fullpage-title.tied {
  display: flex;
  width: 100vw;
  max-width: 1100px;
}

.fullpage-image {
  width: 100vw;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.image-35 {
  display: block;
  margin: 40px auto;
  text-align: left;
}

.why-train-travel1 {
  background-image: url('../images/Group-1392.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-span-24 {
  font-size: 14px;
}

.text-span-25 {
  font-size: 14px;
}

.text-span-26 {
  font-size: 14px;
}

.why-train-travel2 {
  background-image: url('../images/Group-1393.jpg');
  background-position: -10% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-train-travel3 {
  background-image: url('../images/39.jpg');
  background-position: -2% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-train-travel4 {
  background-image: url('../images/38.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-train-travel5 {
  background-image: url('../images/37.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

._3co-pic-word {
  display: flex;
  width: 33%;
  height: 500px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

._3co-pic-word._1 {
  height: 200px;
}

.story-area1 {
  background-image: url('../images/Group-1399.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.story-area2 {
  background-image: url('../images/23.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bold-text-16 {
  color: #46b3b8;
}

.bold-text-17 {
  color: #46b3b8;
}

.text-span-27 {
  color: #46b3b8;
}

.leftpic {
  padding-top: 170px;
  padding-right: 40px;
  padding-left: 40px;
}

.leftpic._1 {
  padding-top: 120px;
}

.leftpic._22 {
  padding-top: 205px;
}

.image-36 {
  padding-top: 170px;
  padding-right: 280px;
  padding-left: 280px;
}

.div-block-24 {
  display: flex;
  width: auto;
  height: auto;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: stretch;
}

.image-37 {
  max-width: 90%;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-25 {
  padding-right: 40px;
  padding-left: 80px;
}

.text-span-28 {
  color: #46b3b8;
}

.div-block-26 {
  padding-top: 250px;
}

.div-block-27 {
  padding-top: 250px;
}

.bold-text-18 {
  text-decoration: underline;
}

.bold-text-19 {
  text-decoration: underline;
}

.railtaleresearch {
  padding-top: 250px;
}

.pagejumprail {
  display: block;
  height: 520px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.text-span-31 {
  color: #fff;
  font-size: 18px;
}

.bold-text-20 {
  color: #fff;
  font-size: 40px;
  line-height: 40px;
}

.bold-text-21 {
  color: #fff;
  font-size: 40px;
}

.bold-text-22 {
  font-size: 40px;
}

.project-collection {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 100px;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}

._2co-projects {
  width: 33%;
  height: 300px;
}

.picfile {
  width: 100%;
  height: 300px;
  background-image: url('../images/Frame-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.picfile.supreme {
  background-color: #ededed;
  background-image: url('../images/MacBook-Pro-15.png');
  background-position: 50% 50%;
  background-size: 250px;
  background-repeat: no-repeat;
}

.picfile.glance {
  background-image: url('../images/资源-3.png');
}

.bio-word {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

.bio-word.emoji {
  font-size: 30px;
}

.bio-wrapper {
  padding: 20px 40px;
}

.link-block-10 {
  height: 300px;
  text-decoration: none;
}

.text-block-8 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.linediv {
  width: 30px;
  border: 2px solid #46b3b8;
}

.pro-file-word3 {
  font-family: Montserrat, sans-serif;
  color: #f4f4f4;
  font-size: 10px;
  font-weight: 400;
}

.pro-file-word2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.link-block-11 {
  height: 300px;
}

.pro-jump {
  position: static;
  width: 100%;
  height: 300px;
  padding-top: 180px;
  padding-left: 10px;
  text-decoration: none;
}

.pro-file-word1 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  font-weight: 500;
}

.text-span-33 {
  text-decoration: underline;
}

.text-span-34 {
  text-decoration: underline;
}

.container-6 {
  display: flex;
  max-width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}

.glance-research {
  background-color: #fff;
  background-image: url('../images/资源-92x.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.glance-research._1 {
  background-image: url('../images/资源-102x.png');
}

.glanceresearch-wrapper-slide {
  height: 570px;
  background-color: #fff;
}

.glanceeco-stake {
  height: 500px;
}

.glanceeco-stake-wrapper {
  height: 500px;
}

.glanceeco-stake {
  background-color: #fff;
  background-image: url('../images/资源-112x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.glanceeco-stake.business {
  background-image: url('../images/资源-122x_1.png');
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section.vertical {
  flex-direction: column;
}

.div-block-29 {
  display: flex;
  width: 50%;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-block-30 {
  width: 50%;
  padding-right: 40px;
}

.text-block-9 {
  padding-top: 40px;
  font-size: 12px;
  text-align: center;
}

.wireframe {
  margin: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: 3px 3px 8px 0 #b6b6b6;
}

.image-41 {
  margin: 6px;
}

.text-span-35 {
  font-size: 18px;
}

.div-block-31 {
  display: flex;
  width: 80%;
  padding-top: 60px;
  padding-left: 40px;
  align-items: flex-start;
}

.div-block-31._1 {
  align-items: center;
}

.div-block-31.distributr {
  padding-left: 0px;
  justify-content: space-around;
}

.text-block-10 {
  font-family: Montserrat, sans-serif;
  line-height: 40px;
}

.div-block-32 {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.image-42 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}

.image-43 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1440px) {
  .nav-word {
    font-size: 12px;
  }

  .p-hp-wrapper {
    display: block;
    height: auto;
  }

  .container-left {
    position: static;
    display: flex;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .heading-1 {
    margin-bottom: 30px;
  }

  .heading-3.mid {
    color: #989898;
    text-align: center;
  }

  .heading-2 {
    margin-bottom: 10px;
  }

  .body-text-s.space {
    margin-left: 170px;
  }

  .div-cover {
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: block;
    max-width: 740px;
    margin-top: 220px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
  }

  .gif-wrapper {
    margin-top: 100px;
    background-color: #fff;
  }

  .gif-wrapper-div {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .gif-wrapper-div-column {
    padding-right: 20px;
    padding-left: 40px;
  }

  .gif-wrapper-div-column.pic {
    height: 580px;
    margin-right: 40px;
    background-size: contain;
  }

  .container-middle-duiqi {
    max-width: 1100px;
    padding-top: 0px;
  }

  .container-middle-duiqi.all-words {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: hsla(0, 0%, 100%, 0);
  }

  .container-middle-duiqi.unequal {
    justify-content: flex-start;
    align-items: flex-start;
  }

  ._2column-wrapper {
    padding-top: 0px;
  }

  ._2column-wrapper.big-space {
    margin-top: 100px;
  }

  ._2column-wrapper.big-space.white {
    background-color: #000;
  }

  .horizontal-line {
    border-color: #fc0e11;
  }

  .gif-wrapper-container {
    max-width: 1130px;
  }

  .gif-wrapper-c-d {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 40px;
  }

  .text-01 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .text-01.mid-white {
    text-align: center;
  }

  .text-01.mid-white.midd.space {
    padding-top: 158px;
  }

  .text-01.mid-white.space {
    padding-top: 220px;
  }

  .text-01.mid-black {
    text-align: center;
  }

  .text-01.midd {
    text-align: center;
  }

  .text-02 {
    padding-left: 0px;
  }

  .text-02.mid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-02.top-gap {
    margin-top: 40px;
  }

  .div-block-2 {
    padding-bottom: 0px;
  }

  .slider {
    height: 490px;
    margin-top: 0px;
  }

  .icon {
    display: block;
  }

  .icon-2 {
    display: block;
    font-size: 40px;
  }

  .image-10 {
    padding-top: 53px;
  }

  .mask {
    background-color: #f4f4f4;
  }

  .image-11 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
  }

  .image-12 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32px;
  }

  .image-13 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
  }

  .image-14 {
    padding-top: 100px;
  }

  .image-15 {
    padding-top: 100px;
  }

  .container-2pic {
    display: flex;
    align-items: center;
  }

  .div-2pic.big {
    width: 70%;
  }

  .div-block-6 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
  }

  .slider-2 {
    height: 280px;
  }

  .slide-3 {
    background-image: url('../images/截屏2022-09-14-下午10.10.38.png');
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .text-block-in-pic {
    height: auto;
    padding: 141px 0px;
  }

  .text-block-in-pic._2pic-big {
    height: 580px;
  }

  .text-block-in-pic._350 {
    padding-top: 258px;
    padding-bottom: 258px;
  }

  .text-block-in-pic.eye {
    height: auto;
    padding-top: 129px;
    padding-bottom: 129px;
  }

  .text-block-in-pic.eye.spa {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .slide-5._01 {
    background-image: url('../images/资源-284x.png');
    background-position: 50% 50%;
    background-size: 400px;
    background-repeat: no-repeat;
  }

  .slide-5.satics {
    background-image: url('../images/资源-204x.png');
    background-position: 50% 50%;
  }

  .slide-5.satic {
    background-image: url('../images/think-aloud.png');
    background-position: 50% 50%;
    background-size: 490px;
  }

  .slide-6 {
    background-image: url('../images/资源-294x.png');
    background-position: 50% 50%;
    background-size: 400px;
  }

  .text-block-2 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }

  ._2word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-start;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .slide-7 {
    height: 157px;
  }

  .slider-4 {
    height: 800px;
  }

  .slide-8 {
    background-size: 480px;
  }

  .slide-9 {
    background-image: url('../images/资源-304x.png');
    background-position: 50% 50%;
    background-size: 400px;
    background-repeat: no-repeat;
  }

  .right-arrow-2 {
    display: block;
    font-size: 14px;
  }

  .right-paragraph {
    width: 60%;
    margin-left: 173px;
    padding-right: 0px;
  }

  .image-19 {
    left: -191px;
  }

  .image-20 {
    width: 150%;
  }

  .image-21 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-22 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 2px 2px 15px 6px #e0e0e0;
  }

  .div-block-12 {
    display: block;
  }

  .image-25 {
    width: 600px;
    margin-top: 162px;
    margin-bottom: 162px;
    margin-left: 59px;
  }

  .image-26 {
    width: 220px;
    margin: 169px 221px;
  }

  .container-3 {
    height: auto;
  }

  .pic-left {
    height: 600px;
  }

  .image-27 {
    width: 561px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .image-28 {
    width: 206px;
    padding-top: 91px;
    padding-bottom: 91px;
  }

  .image-29 {
    width: 277px;
  }

  .div-block-14 {
    width: 30%;
    height: 46vh;
    background-image: url('../images/截屏2022-09-27-下午7.12.09.png');
    background-position: 50% 50%;
    background-size: cover;
  }

  .div-block-15 {
    width: 50%;
    height: 46vh;
    background-size: 680px;
  }

  .div-block-16 {
    width: 70%;
    height: 500px;
    background-color: #f4f4f4;
    background-image: url('../images/截屏2022-09-27-下午6.51.28.png');
    background-position: 50% 50%;
    background-size: 728px;
    background-repeat: no-repeat;
  }

  .div-block-16._500 {
    margin-left: 0px;
    background-size: 700px;
  }

  .div-block-17 {
    width: 30%;
    height: 400px;
    margin-right: 0px;
    background-image: url('../images/截屏2022-09-27-下午7.12.09.png');
    background-position: 50% 50%;
    background-size: 342px;
    background-repeat: no-repeat;
  }

  .div-block-18.shop {
    width: 45%;
    background-image: url('../images/资源-392x-100.jpg');
    background-size: 400px;
  }

  .div-block-18.detail {
    margin-top: -120px;
    padding-top: 0px;
    background-image: url('../images/资源-402x-100.jpg');
    background-size: 400px;
  }

  .div-block-18.detail.check-out {
    margin-top: -131px;
    background-image: url('../images/资源-422x-100.jpg');
  }

  .div-block-18.size {
    margin-top: -70px;
    background-image: url('../images/资源-412x-100.jpg');
  }

  .div-block-19.left-word {
    margin-left: 0px;
  }

  .div-block-19.left-word.space {
    padding-top: 165px;
  }

  .div-block-19.space {
    padding-top: 0px;
  }

  .text-block-5.left-word {
    margin-right: 50px;
    margin-left: 50px;
  }

  .text-block-5.space {
    padding-top: 70px;
  }

  .subscript {
    color: #53bfc5;
  }

  .subscript.green {
    color: #9fc31d;
  }

  .subscript.yellow {
    color: #f5b617;
  }

  .subscript.red {
    color: #c6171e;
  }

  .bold-text-11 {
    color: #c6171e;
  }

  .bold-text-11.green {
    color: #9fc31d;
  }

  .bold-text-13 {
    color: #9fc31d;
  }

  .bold-text-13.yellow {
    color: #f5b617;
  }

  .bold-text-13.blue {
    color: #53bfc5;
  }

  .section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }

  .div-block-20 {
    width: 30%;
    margin-right: 40px;
    padding-top: 40px;
  }

  .div-block-20.heuriddtics {
    padding-top: 110px;
  }

  .div-block-20.nospace {
    padding-top: 0px;
  }

  .slide-14 {
    background-image: url('../images/资源-174x.png');
    background-position: 50% 50%;
    background-size: 600px;
    background-repeat: no-repeat;
  }

  .sus {
    background-image: url('../images/资源-204x.png');
    background-position: 50% 50%;
    background-size: 600px;
    background-repeat: no-repeat;
  }

  .image-31 {
    margin-left: 0px;
    padding-top: 0px;
  }

  .section-2 {
    height: 10vh;
  }

  .link-block-3 {
    width: 100%;
  }

  .link-to {
    width: 100%;
  }

  .link-block-4 {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-right: 40px;
    margin-left: 0px;
  }

  .div-block-21 {
    width: 100vw;
  }

  .thinkaloud {
    background-image: url('../images/thinkaloud.png');
    background-position: 50% 50%;
    background-size: 550px;
    background-repeat: no-repeat;
  }

  .eye {
    background-image: url('../images/截屏2022-09-14-下午10.10.38.png');
    background-size: 700px;
  }

  .eye._3 {
    background-image: url('../images/截屏2022-09-14-下午10.22.50.png');
    background-size: 500px;
  }

  .heuristics {
    background-image: url('../images/资源-214x.png');
    background-size: 800px;
  }

  .link-block-5 {
    width: 100%;
  }

  .wave {
    background-size: 600px;
  }

  .psy {
    background-image: url('../images/资源-334x.png');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .pagejumplink {
    display: block;
    width: 100%;
    height: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 219px;
    padding-bottom: 219px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .pagejumplink.think {
    height: 480px;
    padding-top: 183px;
    padding-bottom: 183px;
  }

  .pagejumplink.eyequant {
    width: auto;
    height: 280px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .pagejumplink.heuristics {
    height: 580px;
    padding-top: 276px;
    background-image: none;
  }

  .pagejumplink.wcag {
    background-image: none;
  }

  .pagejumplink.wave {
    background-image: none;
  }

  .pagejumplink.psy {
    height: 300px;
    padding-top: 132px;
    padding-bottom: 132px;
    background-image: none;
  }

  .pagejumplink._520 {
    height: 520px;
    padding-top: 200px;
    padding-bottom: 184px;
    font-size: 40px;
    font-weight: 400;
  }

  .pagejumplink._690 {
    height: 640px;
    padding-top: 294px;
    padding-bottom: 294px;
  }

  .pagejumplink._500._1 {
    padding: 187px;
  }

  .view-all {
    background-image: url('../images/资源-354x.png');
    background-position: 50% 50%;
    background-size: 530px;
    background-repeat: no-repeat;
  }

  .size {
    background-image: url('../images/资源-374x.png');
    background-position: 50% 50%;
    background-size: 520px;
    background-repeat: no-repeat;
  }

  .slide-17 {
    background-image: url('../images/资源-374x.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .text-span-12 {
    color: #fc0e11;
  }

  ._3column-wrap.grey {
    background-color: #f4f4f4;
  }

  .image-32 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .design-process {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  .div-block-22 {
    max-width: 660px;
    padding-left: 0px;
  }

  .div-block-23 {
    max-width: 440px;
  }

  ._3-co-word {
    height: 200px;
    max-width: 366.66px;
    padding-left: 40px;
  }

  ._3-co-word._1 {
    padding-left: 20px;
  }

  ._3-co-word._3 {
    padding-right: 40px;
    padding-left: 20px;
  }

  .image-33 {
    max-width: 440px;
    padding-right: 40px;
  }

  .image-34 {
    padding-left: 40px;
  }

  .full-pic-wrapper {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  .full-pic-wrapper-slides {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  .full-pic-wrapper-slide-1 {
    background-size: cover;
  }

  .full-pic-right-arrow._690 {
    height: 640px;
  }

  .full-pic-left-arrow._690 {
    height: 640px;
  }

  .full-pic-intro._2line {
    padding-top: 179px;
  }

  .text-span-14 {
    font-weight: 400;
  }

  .text-span-15 {
    font-weight: 400;
  }

  .full-pic-wrapper-slides-mask-copy.grey {
    margin-right: auto;
    margin-left: auto;
  }

  .icon-5 {
    color: #262626;
  }

  .icon-5.light {
    color: #b3b3b3;
  }

  .bold-text-15 {
    font-size: 40px;
  }

  .icon-6 {
    color: #262626;
  }

  .icon-6.light {
    color: #b3b3b3;
  }

  .full-pic-wrapper-slide4 {
    background-image: url('../images/资源-162x.png');
    background-position: 50% 100%;
    background-size: 1020px;
  }

  .full-pic-wrapper-slide5 {
    background-position: 0% 0%;
    background-size: 1050px;
  }

  .full-pic-wrapper-slide6 {
    background-image: url('../images/IMG_4570.jpg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .full-pic-wrapper-slide7 {
    background-image: url('../images/资源-192x.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .fullline-word {
    max-width: 1100px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 40px;
  }

  ._100vw-container {
    height: 80vh;
    max-height: none;
    background-color: #fff;
  }

  ._100vw-container.backgroun {
    height: 70vh;
    margin-bottom: -3px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .fullbigword {
    height: auto;
    max-width: 1100px;
    padding-top: 220px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .fullbigword.black {
    color: #000;
  }

  .fullbigword.stats {
    padding-top: 100px;
  }

  ._1column-wrapper {
    height: auto;
  }

  ._1column-wrapper.grey {
    background-color: #f4f4f4;
  }

  .title {
    padding-top: 60px;
  }

  .full-bg {
    padding-top: 0px;
  }

  .full-bg.nobg {
    background-image: none;
  }

  .full-bg.opportunity-sta {
    padding-top: 0px;
    background-image: url('../images/Group-1390.jpg');
    background-size: cover;
  }

  .fullline-inside-1line {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  .fullpage-title {
    margin: 100px auto 40px;
  }

  .fullpage-title.small-space {
    margin-top: 20px;
  }

  .fullpage-title.tied {
    display: flex;
  }

  .fullpage-image {
    margin-right: auto;
    margin-left: auto;
  }

  ._3co-pic-word {
    display: flex;
    width: 33%;
    height: 500px;
    max-width: 366.66px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 0px;
    justify-content: flex-start;
  }

  ._3co-pic-word._1 {
    height: 200px;
    margin-top: 0px;
  }

  ._3co-pic-word.small {
    height: 300px;
  }

  .story-area1 {
    margin-right: auto;
    margin-left: auto;
  }

  .story-area2 {
    background-size: cover;
  }

  .bold-text-16 {
    color: #46b3b8;
  }

  .leftpic {
    padding-top: 120px;
  }

  .leftpic._1 {
    width: 100%;
    padding-right: 142px;
    padding-left: 142px;
  }

  .leftpic._22 {
    width: 100%;
    padding-top: 188px;
    padding-right: 130px;
    padding-left: 130px;
  }

  .image-36 {
    padding-top: 72px;
    padding-right: 320px;
    padding-left: 320px;
  }

  .div-block-24 {
    display: flex;
    width: 60%;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    align-items: stretch;
  }

  .image-37 {
    max-width: 90%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .div-block-25 {
    width: 40%;
    padding-left: 60px;
  }

  .vertical {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }

  .image-38 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .div-block-26 {
    padding-top: 210px;
  }

  .div-block-27 {
    padding-top: 210px;
  }

  .text-span-29 {
    text-decoration: underline;
  }

  .text-span-30 {
    text-decoration: underline;
  }

  .bold-text-18 {
    text-decoration: none;
  }

  .bold-text-19 {
    text-decoration: none;
  }

  .link-block-7 {
    padding-top: 210px;
  }

  .railtaleresearch {
    padding-top: 210px;
  }

  .link-block-8 {
    padding-top: 150px;
  }

  .pagejumprail {
    display: block;
    height: 520px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  }

  .text-span-31 {
    font-size: 18px;
  }

  .text-span-32 {
    font-size: 18px;
  }

  .project-collection {
    display: flex;
    height: 400px;
    max-width: 1200px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  ._2co-projects {
    display: block;
    width: 50%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
  }

  .link-block-9 {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-6 {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .picfile {
    height: 400px;
    background-image: url('../images/Frame-2.jpg'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: no-repeat, no-repeat;
  }

  .picfile.supreme {
    background-size: contain;
  }

  .picfile.glance {
    background-image: url('../images/资源-3.png');
    background-position: 0px 0px;
    background-size: cover;
  }

  .text-block-7 {
    max-width: 1300px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
  }

  .section-3 {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }

  .bio {
    max-width: 1300px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .bio-word {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
  }

  .bio-word.emoji {
    font-size: 40px;
  }

  .pro-file-word3 {
    padding-top: 10px;
    color: #bcbcbc;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .pro-file-word2 {
    padding-top: 10px;
    line-height: 20px;
  }

  .pro-jump._400 {
    height: 400px;
    padding-top: 250px;
    padding-left: 20px;
  }

  .pro-file-word1 {
    font-size: 26px;
    line-height: 50px;
  }

  .container-6 {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
  }

  .div-block-28 {
    width: 33%;
    height: 400px;
    max-width: 366.66px;
  }

  ._100icon {
    margin-bottom: 0px;
  }

  .image-40 {
    margin-bottom: 40px;
  }

  .glance-research {
    background-image: url('../images/资源-92x.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .glance-research._1 {
    background-image: url('../images/资源-102x.png');
  }

  .glanceresearch-wrapper-slide {
    height: 640px;
    background-color: #fff;
  }

  .glanceeco-stake.business {
    background-image: url('../images/资源-122x_1.png');
  }

  .hero-section {
    display: flex;
    width: 100%;
    height: 500px;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
  }

  .hero-section.vertical {
    height: auto;
  }

  .div-block-29 {
    display: flex;
    width: 50%;
    padding-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-block-30 {
    width: 50%;
  }

  .text-block-9 {
    padding-top: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }

  .div-block-31 {
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: flex-start;
  }

  .div-block-31._1 {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .div-block-31.distributr {
    justify-content: space-around;
  }

  .text-block-10 {
    padding-top: 40px;
  }

  .image-43 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 991px) {
  .p-hp-wrapper {
    height: auto;
  }

  .div-cover {
    bottom: -78px;
    padding-right: 0px;
    padding-left: 20px;
  }

  .gif-wrapper {
    margin-top: 120px;
  }

  .image-25 {
    min-width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 0px;
  }

  .div-cover {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .div-cover {
    padding-right: 10px;
  }
}

